/* Style global */
/* * {
    margin: 0;
    box-sizing: border-box;

} */

.mainPage {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to right, #ffedd5, #fed7aa, #fde68a);
}

/* selector {
    
} */
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
